@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testWrapper {
  position: relative;
  /* margin-left: 100px; */
  width: 58rem;
  max-width: 58rem;
  position: relative;
  height: fit-content;
  /* margin: auto; */
}

.TypeTextWordWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  transition: top 200ms ease;
  /* height: 100%; */
  overflow: hidden;
}

.word {
  display: flex;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.red {
  color: red;
}

.green {
  color: green;
}

.out-of-bnds {
  color: rgb(88, 3, 3);
}

.caret {
  height: 2rem;
  width: 0.5rem;
  background-image: url("../../public/carrot.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.sq {
  position: absolute;
  width: 0.2rem;
  background-color: blue;
  height: 1.4rem;
  animation-fill-mode: forwards;
}
