/* @import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testWrapper {
  position: relative;
  max-width: 58rem;
  position: relative;
  height: fit-content;
}

.TypeTextWordWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* position: absolute; */
  transition: top 200ms ease;
  overflow: hidden;
  cursor: default;
  pointer-events: none;
}

.word {
  display: flex;
  margin: 6px;
  font-size: 1.5rem;
  font-family: "Atkinson Hyperlegible", sans-serif;
  /* color: #b7b7b7; */
}

.caret {
  height: 2rem;
  width: 0.5rem;
  background-image: url("../../public/carrot.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.sq {
  position: absolute;
  width: 0.2rem;
  background-color: blue;
  height: 1.4rem;
  animation-fill-mode: forwards;
}
